
code/Bundesliga_2021_match_data.json
data_viz_examples/data/Serie A_2021_match_data.json
data_viz_examples/data/Serie A_2018_match_data.json
data_viz_examples/data/Serie A_2011_match_data.json
data_viz_examples/data/Ligue 1_2021_match_data.json
data_viz_examples/data/La Liga_2021_match_data.json
data_viz_examples/data/La Liga_2020_match_data.json
data_viz_examples/data/La Liga_2019_match_data.json
data_viz_examples/data/La Liga_2018_match_data.json
data_viz_examples/data/EPL_2021_match_data.json
data_viz_examples/data/EPL_2020_match_data.json
code/Bundesliga_2021_match_data.json
code/La Liga_2018_match_data.zip
code/La Liga_2019_match_data.zip
code/Bundesliga_2021_match_data.json
code/Bundesliga_2021_match_data.json
code/La Liga_2020_match_data.zip
code/Ligue 1_2021_match_data.zip
code/Bundesliga_2021_match_data.json
code/Bundesliga_2021_match_data.json
code/Serie A_2018_match_data.zip
data_viz_examples/Serie A_2021_match_data.json
data_viz_examples/Serie A_2011_match_data.json
data_viz_examples/Serie A_2018_match_data.json
data_viz_examples/Ligue 1_2021_match_data.json
data_viz_examples/La Liga_2021_match_data.json
data_viz_examples/La Liga_2020_match_data.json
data_viz_examples/La Liga_2019_match_data.json
data_viz_examples/La Liga_2018_match_data.json
data_viz_examples/EPL_2021_match_data.json
data_viz_examples/EPL_2020_match_data.json
data_viz_examples/EPL_2019_match_data.json
data_viz_examples/EPL_2018_match_data.json
data_viz_examples/Bundesliga_2021_match_data.json
data_viz_examples/Bundesliga_2010_match_data.json
code/EPL_2014_match_data.json
code/EPL_2015_match_data.json
code/EPL_2016_match_data.json
code/EPL_2017_match_data.json
data_viz_examples/EPL_2010_match_data.json
data_viz_examples/EPL_2011_match_data.json
data_viz_examples/EPL_2012_match_data.json
data_viz_examples/EPL_2013_match_data.json
data_viz_examples/EPL_2014_match_data.json
data_viz_examples/EPL_2015_match_data.json
data_viz_examples/EPL_2016_match_data.json
data_viz_examples/EPL_2017_match_data.json
data_viz_examples/La Liga_2010_match_data.json
data_viz_examples/La Liga_2011_match_data.json
data_viz_examples/La Liga_2012_match_data.json
data_viz_examples/La Liga_2013_match_data.json
data_viz_examples/La Liga_2014_match_data.json
data_viz_examples/La Liga_2016_match_data.json
data_viz_examples/data/Bundesliga_2010_match_data.json
data_viz_examples/data/Bundesliga_2021_match_data.json
data_viz_examples/data/EPL_2018_match_data.json
data_viz_examples/data/EPL_2019_match_data.json
